.about {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: $lightGrey;
}

.aboutContent {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.aboutPortrait {
  display: flex;
  width: 30%;
  img {
    width: 100%;
  }
}

.aboutText {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;

}

.buttonContainer {
  display: flex;
  max-width: 75%;
  justify-content: space-between;
  margin: 3% 0%;
}