.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4%;
  background-color: $lightGrey;
}

.widgetContainer  {
  display: flex;
  justify-content: center;
}

#medium-widget {
  width: 30%;
  margin: 1.5%;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0% 2%; 
}

.medium-widget-article__title,
.medium-widget-article__description,
.medium-widget-article__date {
  color: rgba(0, 0, 0, 0.9);
  font-size: .85rem
}
