a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

// img {
//   width: 100%;
// }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
