a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 2px;
}

a:hover {
  color: $gold;
}

li {
  list-style: none;
}

button {
  border-style: none;
  background-color: $heroGreen;
  border-radius: 25px;
  padding: 12px 45px;
  text-transform: uppercase;
  color: aliceblue;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  font-size: 1.2rem;
}

button:focus,
button:hover {
  box-shadow: rgba(149, 157, 165, 0.8) 0px 12px 30px;
  transition: ease-in-out 0.5s;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
