.portfolio {
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectOne,
.projectFour {
  display: flex;
  position: relative;
  height: 400px;
  justify-content: center;
  margin-bottom: 40px;
  width: 58%;
    img {
      width: 100%;
      object-fit: cover;
      box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
}

.projectTwo,
.projectThree {
  display: flex;
  position: relative;
  height: 400px;
  justify-content: center;
  
  width: 38%;
  img {
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  }
}

.overlay {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  color: white;
  margin: 0 auto;
  height: 400px;
  padding: 5%;
  opacity: 0;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  h4 {
    color: white;
  }
  a {
    text-transform: uppercase;
    padding: 2% 5%;
  }
  .fa-times {
    align-self: flex-end;
    font-size: larger;
  }
  .fa-times:hover {
    color: $gold;
  }
}

.linkBox {
  margin: 5% 0%;
}

.active {
  visibility: visible;
  opacity: 1;
}