.portfolio {
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}

.projectOne,
.projectFour {
  display: flex;
  max-height: 400px;
  justify-content: center;
  padding: 2%;
  width: 60%;
    img {
      width: 100%;
      object-fit: cover;
      box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
    :focus,
    :hover {
      box-shadow: rgba(149, 157, 165, 0.8) 0px 12px 30px;
      transform: scale(1.015);
      transition: ease-in-out 0.5s;
    }
}

.projectTwo,
.projectThree {
  display: flex;
  max-height: 400px;
  justify-content: center;
  padding: 2%;
  width: 40%;
  img {
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  }
  :focus,
  :hover {
    box-shadow: rgba(149, 157, 165, 0.8) 0px 12px 30px;
    transform: scale(1.015);
    transition: ease-in-out 0.5s;
  }
}

.overlayOne {
  position: absolute;
}