.testimonials {
  background: 
    linear-gradient(rgba(0, 0, 0, .7)),
    url(../assets/forest.jpg);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsContainer {
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 2rem;
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  };
}

// Slideshow Stylings

$slider-speed: 1s;
$slider-number: 5;

.testimonyRadio {
  display: none;
}

.slideshowControl {
  .control1 {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;

    > label[class^="control"] {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 10px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #efefe8;
      cursor: pointer;
    }
  }
}

.slideshowNav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #FFF;
  }

  &.left {
    left: 20px;

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &.right {
    right: 20px;

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}