.testimonials {
  background-color: darkslategrey;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsContainer {
  text-align: center;
  padding: 2%;
}