.testimonials {
  background: 
    linear-gradient(rgba(0, 0, 0, .7)),
    url(../assets/forest.jpg);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsContainer {
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 2rem;
  img {
    border-radius: 50%;
    width: 150px;
  };
}